body {
  height: 698px;
  width: 698px;
  font-family: Arial, sans-serif;
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.general{
  height: 698px;
  width: 698px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h2 {
  margin-bottom: 20px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.container button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.container button:hover {
  background-color: ;
}